beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
furl==2.1.3
idna==3.7
loguru==0.7.2
lxml==5.2.2
orderedmultidict==1.0.1
packaging==24.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySocks==1.7.1
QDarkStyle==3.2.3
QtPy==2.4.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
